body {
    background-color: darkblue;

}

.logo {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    
}

.img {
    position: fixed;
    display: flex;
    margin-top: 2px;
    width: 90%;
    left: 5%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

header {
    overflow: hidden;
    position: fixed;
    background-color: rgb(5, 5, 77);
    width: 100%;
    left: -2px;
    top: -2px;
    padding: 10px;
    color: #fff;
    text-align: center;
    width: 100%;
    /* font-size: 80%; */
}

.container {
    margin-top: 100px;
    margin-bottom: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    /* flex-direction: row; */
    padding: 40px;
}

.login-container {
    background-color: #fff;
    border-radius: 20px;
    padding: 50px;
    box-shadow: #544e4e;
    /* margin: 100px; */
}


.container h2 {
    text-align: center;
    margin-top: 10px;

}

label {
    margin-bottom: 40px;
    font-weight: bold;
}

input {
    margin-bottom: 40px;
}

.login-container input[type="text"],
.login-container input[type="password"]{
    width: 90%;
    padding: 7px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 1px;
}

.login-container input[type="submit"] {
    width: 90%;
    color: rgb(10, 10, 13);
    background-color: rgb(32, 225, 94);
    height: 40px;
    border-radius: 20px;
    border: none;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    color: bisque;
    background-color: rgb(62, 15, 216);
}

footer {
    position: fixed;
    left: -2px;
    /* align-items: center; */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
    /* margin-bottom: -10vh; */
    width: 100%;
    bottom: 0;
}

/* Auditor Portal  */

img {
    height: 100px;
    width: 100px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
    /* height: 300px; Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }